In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
# Tutorial: https://medium.com/analytics-vidhya/how-to-use-google-colab-with-github-via-google-drive-68efb23a42d

In [15]:
!git init IntroML
!git config --global user.email "leofr7nco@hotmail.com"
!git config --global user.email "Leonardo Burbano"

Reinitialized existing Git repository in /content/drive/MyDrive/intro-ml-kaggle/IntroML/.git/

In [20]:
#!git clone 	https://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@github.com/leonardoburbanov/intro-ml-kaggle.git
!git remote set-url origin https://leonardoburbanov:984936_noeL@github.com/leonardoburbanov/intro-ml-kaggle.git

In [9]:
%cd drive/MyDrive/intro-ml-kaggle
%ls

/content
/content/drive/MyDrive/intro-ml-kaggle
 IntroML/  'Kaggle - Intro a Machine Learning.ipynb'   melb_data.csv

In [21]:
!git add .
!git commit -m "Initial2"
!git push

[master f326809] Initial2
 1 file changed, 1 insertion(+), 1 deletion(-)
 rewrite Kaggle - Intro a Machine Learning.ipynb (91%)
remote: Support for password authentication was removed on August 13, 2021. Please use a personal access token instead.
remote: Please see https://github.blog/2020-12-15-token-authentication-requirements-for-git-operations/ for more information.
fatal: Authentication failed for 'https://leonardoburbanov:984936_noeL@github.com/leonardoburbanov/intro-ml-kaggle.git/'

In [11]:
import pandas as pd

In [13]:
# save filepath to variable for easier access
melbourne_file_path = 'melb_data.csv'
# read the data and store data in DataFrame titled melbourne_data
melbourne_data = pd.read_csv(melbourne_file_path) 
# print a summary of the data in Melbourne data
melbourne_data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000